.input-main-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}

.input-main-container form {
  position: fixed;
  background-color: antiquewhite;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
}

.form-container input[type="submit"] {
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bolder;
}

.form-container input[type="text"] {
  border-radius: 4px;
  padding: 5px 20px;
  max-width: 300px;
}
