.nav-container {
  display: flex;
  gap: 30px;
}

.nav-container button {
  border-radius: 5px;
  border: none;
  padding: 0 5px;
  cursor: pointer;
}

.nav-main-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
}

.delete {
  border-radius: 5px;
  border: none;
  padding: 0 5px;
  cursor: pointer;
}
